{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static '/styles/style.css' %}">
</head>
<body class="body_login">
    {% for message in messages %}
            <div class="alertas">
                {{ message }}
            </div>
    {% endfor %}
    <main class="login">
        <form action="{% url 'login' %}" method="POST" class="login__form">
            {% csrf_token %}
            <H1 class="login__titulo">Login</H1>
            <div>
            {% for field in form.visible_fields %}
                <div class="login__fields">
                    <label for="{{ field.id_for_label }}" class="fields__campos">{{field.label}}</label>
                    {{field}}
                </div>
            </div>
            {% endfor %}
            <input type="submit" value="Acessar" class="login__btn">
        </form>
    </main>
</body>
</html>